<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>10000</particles>
  <batches>30</batches>
  <inactive>5</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="box">
      <parameters>18.5 -4.5 -4.5 27.5 4.5 4.5</parameters>
    </space>
    <angle type="isotropic"/>
    <energy type="discrete">
      <parameters>14100000.0 1.0</parameters>
    </energy>
  </source>
</settings>
